* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdfdfa;
  font-family: "poppins", sans-serif;
}

header {
  background-color: #fdf1ed;
  height: 30vh;
  width: 100%;
}

#plex {
  width: 100%;
  padding: 5rem 20rem;
}
